.about_section{
    flex-direction: column;
    height: auto;
}
.about_info i{
    margin-right: 10px;
    font-size: 23px;
    color: var(--secondary-color);
}
.wrapper_section>*{
    width: 50%;
    flex: 1 0 auto;
    // padding: 0 clamp(4rem,10vw,10rem);
}
.about_profile{
    // border-right: 5px solid var(--secondary-color);
    margin-right: 20px;
    margin-top: 20px;
    img{
      
        animation: floatbg 6s ease-in-out infinite;
        width: 100%;
    }
}

.about_biography{
    position: relative;
    text-align: left;
    .sti_con{
        display: flex;
        align-items: center;
        
        img{
            height: 32px;
            width: 50px;
            border-radius: 6px;
            margin-right: 12px;
        }
    }
}
@media screen and (max-width:768px){
    .wrapper_section{
        flex-direction: column-reverse;
    }
    .wrapper_section>*{
        width: 100%;
    }
    .about_profile{
        border: none;
    
    }
    .about_college_info{
        text-align: left;
        
            .course{
                font-size: 13px;
            }
      
    }
    .about_biography{
        text-align: justify;
    }
}