.contact_section{
    height: auto;
}
.form_container>*{
    width: 100%;
}
.form_container{
    box-shadow: 1px 1px 5px gray;
    width: 80%;
    margin: -6% auto 0 auto;
    padding: 50px 20px;
    gap: 4em;
    position: relative;
    background-color:var(--text_white);
    margin-bottom: 50px;
}
input:not(:last-child){
    margin-bottom: 20px;
}
input,textarea{
    width: 100%;
    padding: 10px 5px;
}
.btn_send{
    @extend .btn_resume;
}
.social_icon_contact
{
    position: relative;
        i{
            display: flex;
            font-size: 30px;
        }
       
        
}
.social_icon_contact :nth-child(1) i{
    color: #C9510C;
}
.social_icon_contact :nth-child(2) i{
    color: #4267B2;
}
.social_icon_contact :nth-child(3) i{
    background: -webkit-linear-gradient( #fdc468, #df4996);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.social_icon_contact {
    a{
        color: var(--DarkSecondary_color);
        transition: 0.3s ease-in-out;
        &:hover{
            color: var(--secondary-color);
            font-weight: 500;
            
        }
    }
    
}
.social_des{
    margin-left: 10px;
}
.design{
    background-color: var(--DarkSecondary_color);
    padding: 80px 15px;
    border-radius: 5px;
    h1{
        color: var(--text_gray);
    }
   
}

    
