footer{
    background-color: var(--Dark_color);
    padding: 50px 0px 0px 0px;
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        .footer_logo{
            @extend .logo;
            margin-bottom: 20px;
        }
        .footer_social{
            
            .icon{
                &:not(:last-child){
                    margin-right: 20px;
                }
                i{
                    font-size: 2rem;
                    color: var(--text_gray);
                }
            }
        }
        .socmed_text{
            font-size: 0.7rem;
        }
    }
    .copy{
        
        color: var(--text_white);
        font-size: 0.8rem;
        padding: 2px;
    }
}
h2{
    color: var(--text_gray);
}

