html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*::before,::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font_normal);
}
a{
    text-decoration: none;
}
ul li{
    list-style: none
}
h1{
    font-size: 2rem;
    color: var(--text_gray);
}
.section_title{
    font-size: 2rem;
    color: var(--Dark_color);
    font-weight: 600;
    margin-bottom: 20px;
}
.text_justify{
    text-align: justify;
}
.text_center{
    text-align: center;
}
.flex{
    display: flex;
    &_jc_between{
        justify-content: space-between;
    }
    &_jc_around{
        justify-content: space-around;
    }
    &_jc_center{
        justify-content: center;
     }
     &_align_center{
        align-items: center;
     }
     &_wrap{
         flex-wrap: wrap;
     }
     &_column{
        flex-direction: column;
    }
}
.btn{
    padding: 0.6rem 1rem;
    outline: none;
    border: none;
}
.container{
    margin-top: 3rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    position: relative;
    
}
img{
    width: 100%;
    height: 100%;
}
