.home_section{
    background-color: var(--Dark_color);
    position: relative;
    height: 83vh;
    margin-top: 4.3rem;
    padding-bottom: 1rem;
    
}
.home_section>*{
   width: 50%;
}
.home_title{
    h1{
        font-size: 2.5rem;
        color: var(--text_white);
    }
    p{
        color: var(--text_muted);
        
    }
}
.btn_resume{
    background-color: var(--secondary-color);
    color: var(--text_gray);
    transition: 0.3s linear;
    border-radius: 17px;
    cursor: pointer;
    box-shadow: 0 10px 20px -10px var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-weight: bold;
    &:hover{
        color: var(--DarkSecondary_color);
        background-color: transparent;
        
        color: #fff;
    }
}
.home_bg{
    position: relative;
    svg{
        animation: floatbg 6s ease-in-out infinite;
        max-height: 500px;
        width: 100%;
    }
    .home_bg img{
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
@keyframes floatbg {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

