.home_section{
    background-color: var(--Dark_color);
    position: relative;
    height: 100vh;
    margin-top: 4.5rem;
    
}
.home_section>*{
   width: 50%;
}
.home_title{
    h1{
        font-size: 2.5rem;
        color: var(--text_gray);
    }
    p{
        color: var(--text_muted);
    }
}
.btn_resume{
    background-color: var(--secondary-color);
    color: var(--text_gray);
    transition: 0.3s linear;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        color: var(--DarkSecondary_color);
        background-color: transparent;
        border: 1px solid var(--text_gray);
        color: #fff;
    }
}
.home_bg{
    position: relative;
    .home_bg img{
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

