//NAVIGATION BAR MOBILE
@media screen and (max-width: 820px){
    body{
        overflow-x: hidden;
    }
    .main_menu{
        gap: 2em;
    }
    .main_menu>*{
        margin-right: 0;
    }
    .burger{
        display: block;
        margin-left: 25px;
    }
    .social_icon{
        display: block;
    }
    .nav_menu{
        padding: 0;
        position: absolute;
        top:3.5rem;
        right: -100%;
        background-color: var(--DarkSecondary_color);
        height: 85vh;
        width: 70%;
        transition: 0.5 ease;
        flex-direction: column;
        color: var(--text_white);
        align-items: center;
        padding-top: 50px;
        transition: 0.3s linear;
        z-index: 100;
        
        a{
            color: var(--text_white);
        }
    }
    .nav_link{
        margin-bottom: 35px;
    }
    .nav_menu{
        .nav_link{
            &:not(:last-child){
                margin-right: 0;
            }
        }
    }
    .show_nav{
        right: 0;
    }
    .rotate_burger{
        transform: rotateZ(-90deg);
    }
    .skill_section{
        height: auto;
    }
    .home_section{
        height: auto;
    }
    .header_profile{
        height: 2rem;
        width: 2rem;
    }
    .form_container{
        flex-direction: column-reverse;

    }
}
// about

// home
@media screen and (max-width: 768px){
    .container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        
    }
    .home_title{
        padding-top: 40px;
        h1{
            font-size: 1.5rem;
        }
    }
    h1{
        font-size: 1.2rem;
    }
    .section_title{
        font-size: 1.3rem;
    }
    .home_section{
        flex-direction: column;
    }
    .home_section>*{
        width: 100%;
    }
    .home_bg{
        margin-top: 20%;
    }
    // ABOUT

}
// projects
@media screen and (max-width:468px){
    
    .wrapper{
		.ui-card{
			height: 280px;
		}
	}
}

// skills


