.services_section{
    .services_title{
        text-align: center;
        h1{
            color: var(--DarkSecondary_color);
        }
    }
    .services_wrapper{
        justify-content: center;
        align-content: space-between;
        column-gap: 2rem;
        img{
            height: 50px;
            width: 50px;
        }
        .services_card{
            padding: 20px;
            background-color: #fafafa;
            // box-shadow: 4px 4px 15px -6px ;
            box-shadow: 4px 4px 25px -6px;
            border-radius: 8px;
            margin-top: 20px;
            flex-grow: 1;
           
        }
        .services_desc{
            h1{
                font-size: 1.1rem;
                color: var(--DarkSecondary_color);
            }
            p{
                color: #455065;
            }
        }
    }
}
.services_wrapper > *{
    width: 500px;
    flex-wrap: wrap;
}
@media screen and (max-width: 774px){
    .services_wrapper{
        flex-wrap: wrap;
        flex-grow: 1;
    }
}