.skill_section{
    flex-direction: column;
    background-color: var(--Dark_color);
    height: auto;
    padding: 50px 20px;
}
.skill_container{
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
}
.col_container{
    text-align: center;
    p{
        color: var(--text_white);
    }
}
.col{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-color: var(--DarkSecondary_color);
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    img{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 468px){
    .col{
        height: 50px;
        width: 50px;
        justify-content: flex-start;
    }
}
