.skill_section{
    flex-direction: column;
    background-color: var(--Dark_color);
    height: auto;
    padding: 50px 20px;
    .skill_title{
        h3{
            color: var(--text_gray);
        }
        
    }
}
.skill_container{
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
}
.col_container{
    text-align: center;
    p{
        color: var(--text_white);
    }
}
.col{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-color: var(--DarkSecondary_color);
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    animation: float 6s ease-in-out infinite;
    img{
        width: 100%;
        height: 100%;
    }
    
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
@media screen and (max-width: 468px){
    .col{
        height: 50px;
        width: 50px;
        justify-content: flex-start;
    }
}
