body.light{
    background-color: white;
}
body.light .nav{
    background-color: white;
}
body.light a{
    color: black;
}
body.light .nav_menu{
    background-color: white;
}
body.light .home_section{
    background-color: white;
}
body.light .home_title>h1{
    color: var(--DarkSecondary_color);
}
body.light .skill_section{
    background-color: white;
}
body.light .skill_title h3{
    color: var(--DarkSecondary_color);
}

body.light .col{
    background-color: rgb(58, 57, 57);
    // box-shadow: 0 10px 30px -5px rgb(0 0 0 / 5%);
}
.sidebar_mask{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;   
    background: rgba(0,0,0,.3);
}
.sidebar_mask_On{
    display: block;
}