/*FONT COLOR VARIABLES*/
:root{
    --secondary-color: #E34C26;
    --Dark_color: #1e2023;
    --DarkSecondary_color: #18191c;
    --text_white: #ffff;
    --text_muted: #999;
    --text_gray: rgba(209,213,232);
    --textboldcolor: #2c3e50;
}

/*FONT SIZE VARIABLES*/
:root{
    --font_sm: 0.8125;
    --font_normal: 1rem;
    --font_medium: 1.5rem;
}
/*FONT WEIGHT VARIABLES*/
:root{
    --font_bold: 600;
    --font_bolder: 900;
}
/*BASE VARIABLES*/
:root{
    --header_height: 3rem;
}