/*FONT COLOR VARIABLES*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
:root {
  --secondary-color: #E34C26;
  --Dark_color: #1e2023;
  --DarkSecondary_color: #18191c;
  --text_white: #ffff;
  --text_muted: #999;
  --text_gray: rgba(209,213,232);
}

/*FONT SIZE VARIABLES*/
:root {
  --font_sm: 0.8125;
  --font_normal: 1rem;
  --font_medium: 1.5rem;
}

/*FONT WEIGHT VARIABLES*/
:root {
  --font_bold: 600;
  --font_bolder: 900;
}

/*BASE VARIABLES*/
:root {
  --header_height: 3rem;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font_normal);
  color: #455065;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 2rem;
  color: var(--text_gray);
}

.title_holder {
  text-align: center;
}

.section_title {
  font-size: 2rem;
  color: var(--Dark_color);
  font-weight: 600;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_title::before {
  content: '';
  display: inline-block;
  height: 50px;
  width: 6px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  margin-right: 10px;
}

.text_justify {
  text-align: justify;
}

.text_center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_jc_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex_jc_around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex_jc_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex_wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  padding: 0.9rem 1.5rem;
  outline: none;
  border: none;
}

.container {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}

.logo, footer .footer .footer_logo {
  height: var(--header_height);
  width: 80px;
  cursor: pointer;
}

.nav {
  -webkit-box-shadow: 1px 1px 8px var(--text_muted);
          box-shadow: 1px 1px 8px var(--text_muted);
  background-color: var(--DarkSecondary_color);
  height: var(--header_height);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav_link {
  /*LINKS HOVER ANIMATION*/
}

.nav_link:not(:last-child) {
  margin-right: 30px;
}

.nav_link a {
  color: var(--text_gray);
}

.nav_link a.nav_item::after {
  content: '';
  height: 4px;
  background-color: var(--secondary-color);
  width: 0;
  display: block;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav_link a.nav_item:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.nav_menu .active {
  color: var(--secondary-color);
}

.main_menu > * {
  margin-right: 50px;
}

.header_profile {
  position: relative;
  -webkit-box-shadow: 1px 1px 2px var(--Dark_color);
          box-shadow: 1px 1px 2px var(--Dark_color);
  height: var(--header_height);
  width: var(--header_height);
  border-radius: 50%;
  cursor: pointer;
}

.header_profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header_profile::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #26935c;
  position: absolute;
  bottom: 0;
  right: -3%;
  border: 1px solid var(--Dark_color);
}

.burger {
  cursor: pointer;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.linetoggle {
  width: 25px;
  height: 3px;
  background-color: var(--text_gray);
}

.linetoggle:not(:last-child) {
  margin-bottom: 5px;
}

.social_icon {
  display: none;
}

.social_icon i {
  font-size: 1.7rem;
  margin: 5px;
}

.social_icon .icon i {
  border-radius: 50%;
}

.social_icon :hover:nth-child(1) i {
  color: #333;
  background-color: white;
}

.social_icon :hover:nth-child(2) i {
  color: #4267B2;
  background-color: white;
}

.social_icon :hover:nth-child(3) i {
  background: -webkit-linear-gradient(#fdc468, #df4996);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
}

.home_section {
  background-color: var(--Dark_color);
  position: relative;
  height: 83vh;
  margin-top: 4.3rem;
  padding-bottom: 1rem;
}

.home_section > * {
  width: 50%;
}

.home_title h1 {
  font-size: 2.5rem;
  color: var(--text_white);
}

.home_title p {
  color: var(--text_muted);
  padding-right: 200px;
}

.btn_resume, .btn_send {
  background-color: var(--secondary-color);
  color: var(--text_gray);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border-radius: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px -10px var(--secondary-color);
          box-shadow: 0 10px 20px -10px var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-weight: bold;
}

.btn_resume:hover, .btn_send:hover {
  color: var(--DarkSecondary_color);
  background-color: transparent;
  color: #fff;
}

.home_bg {
  position: relative;
}

.home_bg .home_bg img {
  height: 100%;
  width: 100%;
  position: absolute;
}

@media screen and (max-width: 820px) {
  body {
    overflow-x: hidden;
  }
  .main_menu {
    gap: 2em;
  }
  .main_menu > * {
    margin-right: 0;
  }
  .burger {
    display: block;
    margin-left: 25px;
  }
  .social_icon {
    display: block;
  }
  .nav_menu {
    padding: 0;
    position: absolute;
    top: 3.5rem;
    right: -100%;
    background-color: var(--DarkSecondary_color);
    height: 85vh;
    width: 70%;
    -webkit-transition: 0.5 ease;
    transition: 0.5 ease;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: var(--text_white);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    z-index: 100;
  }
  .nav_menu a {
    color: var(--text_white);
  }
  .nav_link {
    margin-bottom: 35px;
  }
  .nav_menu .nav_link:not(:last-child) {
    margin-right: 0;
  }
  .show_nav {
    right: 0;
  }
  .rotate_burger {
    -webkit-transform: rotateZ(-90deg);
            transform: rotateZ(-90deg);
  }
  .skill_section {
    height: auto;
  }
  .header_profile {
    height: 2rem;
    width: 2rem;
  }
  .form_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .home_title {
    padding-top: 40px;
    text-align: center;
  }
  .home_title h1 {
    font-size: 1.5rem;
  }
  .home_title p {
    padding-right: 0px;
  }
  .home_title .btn_resume, .home_title .btn_send {
    width: 80%;
  }
  h1 {
    font-size: 1.2rem;
  }
  .section_title {
    font-size: 1.3rem;
  }
  .home_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_section > * {
    width: 100%;
  }
  .home_bg {
    margin-top: 20%;
  }
}

@media screen and (max-width: 468px) {
  .wrapper .ui-card {
    height: 280px;
  }
}

.about_section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.about_info i {
  margin-right: 10px;
  font-size: 23px;
  color: var(--secondary-color);
}

.wrapper_section > * {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.about_profile {
  border-right: 5px solid var(--secondary-color);
  margin-right: 20px;
}

.about_profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.about_biography {
  position: relative;
  text-align: left;
}

.about_biography .sti_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_biography .sti_con img {
  height: 32px;
  width: 50px;
  border-radius: 6px;
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .wrapper_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper_section > * {
    width: 100%;
  }
  .about_profile {
    border: none;
  }
  .about_college_info {
    text-align: left;
  }
  .about_college_info .course {
    font-size: 13px;
  }
  .about_biography {
    text-align: justify;
  }
}

.services_section .services_title h1 {
  color: var(--DarkSecondary_color);
}

.services_section .services_wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.services_section .services_wrapper img {
  height: 50px;
  width: 50px;
}

.services_section .services_wrapper .services_card {
  padding: 20px;
  background-color: #fafafa;
  -webkit-box-shadow: 4px 4px 25px -6px;
          box-shadow: 4px 4px 25px -6px;
  border-radius: 8px;
  max-width: 380px;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.services_section .services_wrapper .services_desc h1 {
  font-size: 1.1rem;
  color: var(--DarkSecondary_color);
}

.services_section .services_wrapper .services_desc p {
  color: #455065;
}

@media screen and (max-width: 774px) {
  .services_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.skill_section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--Dark_color);
  height: auto;
  padding: 50px 20px;
}

.skill_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

.col_container {
  text-align: center;
}

.col_container p {
  color: var(--text_white);
}

.col {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  background-color: var(--DarkSecondary_color);
  padding: 10px;
  margin: 10px;
  margin-top: 15px;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.col img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@media screen and (max-width: 468px) {
  .col {
    height: 50px;
    width: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.contact_section {
  height: auto;
}

.form_container > * {
  width: 100%;
}

.form_container {
  -webkit-box-shadow: #DDDDDD 0 0 0 1px inset;
          box-shadow: #DDDDDD 0 0 0 1px inset;
  width: 80%;
  margin: -6% auto 0 auto;
  padding: 50px 10px;
  padding-right: 20px;
  gap: 4em;
  position: relative;
  background-color: var(--text_white);
  margin-bottom: 50px;
}

input:not(:last-child) {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px 5px;
}

.btn_send {
  padding: 5px 20px;
}

.btn_send:hover {
  color: black;
  border: 1px solid black;
  font-weight: bold;
}

.social_icon_contact {
  position: relative;
}

.social_icon_contact i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
}

.social_icon_contact :nth-child(1) i {
  color: #C9510C;
}

.social_icon_contact :nth-child(2) i {
  color: #4267B2;
}

.social_icon_contact :nth-child(3) i {
  background: -webkit-linear-gradient(#fdc468, #df4996);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social_icon_contact a {
  color: var(--DarkSecondary_color);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social_icon_contact a:hover {
  color: var(--secondary-color);
  font-weight: 500;
}

.social_des {
  margin-left: 10px;
}

.design {
  background-color: var(--Dark_color);
  padding: 60px 15px;
  margin-top: 50px;
}

.design h1 {
  color: var(--text_gray);
}

footer {
  background-color: var(--Dark_color);
  padding: 50px 0px 0px 0px;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

footer .footer .footer_logo {
  margin-bottom: 20px;
}

footer .footer .footer_social .icon:not(:last-child) {
  margin-right: 20px;
}

footer .footer .footer_social .icon i {
  font-size: 2rem;
  color: var(--text_gray);
}

footer .footer .socmed_text {
  font-size: 0.7rem;
}

footer .copy {
  color: var(--text_white);
  font-size: 0.8rem;
  padding: 2px;
}

h2 {
  color: var(--text_gray);
}

.project_section {
  height: auto;
  position: relative;
}

.wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .ui-card {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: radial-gradient(#111 50%, #000 100%);
  -webkit-box-shadow: #DDDDDD 0 0 0 1px inset;
          box-shadow: #DDDDDD 0 0 0 1px inset;
  margin: 10px;
}

.wrapper .ui-card img {
  max-width: 100%;
}

.ui-card img {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.ui-card:hover img {
  -webkit-transform: scale(1.1) translateY(-20px);
          transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}

.ui-card .description {
  position: absolute;
  bottom: 10vh;
  left: 0;
  padding: 15px 0px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.ui-card .description h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 0 20px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.ui-card .description p {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0.2s;
  transition: all 0.3s ease-out 0.2s;
}

.ui-card .description a {
  color: #fff;
  background: var(--Dark_color);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-out 0.2s;
  transition: all 0.3s ease-out 0.2s;
  border: 2px solid var(--secondary-color);
}

.ui-card .description a:hover {
  background: var(--secondary-color);
}

.ui-card:hover .description h3 {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ui-card:hover .description p {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.ui-card:hover .description a {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
/*# sourceMappingURL=style.css.map */